<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>772004513696-dorhm68nhc2blm7f1dkn863b0pa12dub.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.772004513696-dorhm68nhc2blm7f1dkn863b0pa12dub</string>
	<key>API_KEY</key>
	<string>AIzaSyBk0yRFX3q5ktuFfX64-i4eyFkIlYblugE</string>
	<key>GCM_SENDER_ID</key>
	<string>772004513696</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>335296301</string>
	<key>PROJECT_ID</key>
	<string>new-app-proyect</string>
	<key>STORAGE_BUCKET</key>
	<string>new-app-proyect.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:772004513696:ios:97cdb7cdbddd623e9786c5</string>
</dict>
</plist>